# About Python üêç
Python is an interpreter-based language. Instead of needing to compile your code into machine language before running it, Python's interpreter reads your code line by line, translating it on the spot. It's as if you're narrating a story, and Python's interpreter acts it out.

Python got its name from the BBC TV show Monty Python‚Äôs Flying Circus. In December of 1989, van Rossum started the implementation of Python and finally published the code of version 0.9.0 in 1991.

<img src='img/history.jpg' width='650'>

In [1]:
! python --version

Python 3.8.6

"Hello, World!" is the traditional starting point for learning any programming language.

In [2]:
print("Hello, World!")

Hello, World!

## Data Type

Data type is an important concept. Variables can store data of different types, and different types can do different things.

<img src='img/dtype.jpg' width='650'>


## Number
### Integers (int): üéâ

In [3]:
my_int = 12
int_neg = -34
print("value ", int_neg, "type ", type(int_neg))
print(f'value : {int_neg}, type: {type(int_neg)}')

value  -34 type  <class 'int'>
value : -34, type: <class 'int'>

In [4]:
type(my_int)

int

### Floating-Point Numbers (float): üåä

In [5]:
my_float = 5.88
# my_float = float(my_int)
print(f'value: {my_float}, type: {type(my_float)}')

value: 5.88, type: <class 'float'>

In [6]:
11 / 2

5.5

In [7]:
11 % 2

1

In [9]:
2*3.3

6.6

In [11]:
2 ** 10

1024

In [12]:
3.4 - 0.4

2.6

In [13]:
#convert from int to float:
x = float(1)
#convert from float to int:
y = int(2.6)
#convert from int to complex:
z = complex(x)

print(x)
print(y)
print(z)

1.0
2
(1+0j)

In [14]:
bool_true = True
bool_false = False

print(bool_false, bool_true,  int(bool_true), int(bool_false))

False True 1 0

In [15]:
type(bool_false)

bool

In [20]:
bool(0)

False

In [23]:
# float number issue
0.1 + 0.1 + 0.1

0.30000000000000004

### Read this (Optional)
- https://docs.python.org/3/tutorial/floatingpoint.html

# String

In [24]:
my_string = 'python is number 1. Python is my favorite programming language! '
type(my_string)

str

In [25]:
print(my_string)
# type(my_string)

python is number 1. Python is my favorite programming language!

In [27]:
my_char = 'R'
type(my_char)

str

In [28]:
# PEP8
long_story = ('Lorem ipsum dolor sit amet, consectetur adipiscing elit. '
              'Pellentesque eget tincidunt felis. Ut ac vestibulum est. '
              'In sed ipsum sit amet sapien scelerisque bibendum. Sed '
              'sagittis purus eu diam fermentum pellentesque.')
long_story

'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget tincidunt felis. Ut ac vestibulum est. In sed ipsum sit amet sapien scelerisque bibendum. Sed sagittis purus eu diam fermentum pellentesque.'

### str.replace()

In [29]:
print(my_string)
my_string = my_string.replace('a', '?')
print(my_string)

python is number 1. Python is my favorite programming language!
python is number 1. Python is my f?vorite progr?mming l?ngu?ge!

In [30]:
my_string.replace('?', 'a')

'python is number 1. Python is my favorite programming language! '

### str.format()

In [31]:
str_random = "Python"

secret = '{} is cool'.format(str_random)
print(secret)

Python is cool

In [42]:
str_random = "Python"

secret = '{}, {}, {} are cool!'.format(str_random, 'java', 'c#')
print(secret)

Python, java, c# are cool!

In [32]:
str_random = "Python"
secret = '{2}, {0}, {1} are cool!'.format(str_random, 'java', 'c#')
print(secret)

c#, Python, java are cool!

In [33]:
str_random2 = 'java'

print(f'{str_random}, {str_random2} are cool!')

Python, java are cool!

### str.join()

In [35]:
value1 = 'python'
value2 = 'java'
value3 = 'c#'

list_str = [value1, value2, value3]

join_str = ', '.join(list_str)

join_str

'python, java, c#'

### str.strip()

In [37]:
unformatted = '\n\n \t Some story to tell  \n'
stripped = unformatted.strip()

print('Before: {}'.format(unformatted))
print('After: {}'.format(unformatted.strip()))

Before:

 	 Some story to tell

After: Some story to tell

### others

In [40]:
sentence = 'three different words'
words = sentence.split()
print(words)

['three', 'different', 'words']

In [41]:
sentence = 'three,different,words'
words = sentence.split(',')
print(words)

['three', 'different', 'words']

In [42]:
mixed_case = 'PyTHoN iS COOL'
mixed_case.upper()

'PYTHON IS COOL'

In [43]:
mixed_case.lower()

'python is cool'

In [44]:
mixed_case.title()

'Python Is Cool'

In [45]:
mixed_case.capitalize()

'Python is cool'

In [46]:
mixed_case

'PyTHoN iS COOL'

In [48]:
mixed_case[0] = 'G'

TypeError: 'str' object does not support item assignment

# List

In [49]:
my_list = [1, 'is', [2,3], 'still', 'cool', 3.5]
my_list = [1, 2, 3, 5]

print(my_list[0])
print(my_list[2])
print(my_list)

1
[2, 3]
[1, 'is', [2, 3], 'still', 'cool', 3.5]

In [50]:
my_list = [0, 1, 2, 3, 4, 5]

print(my_list)

my_list[0] = 99
print(my_list)

[0, 1, 2, 3, 4, 5]
[99, 1, 2, 3, 4, 5]

In [56]:
my_list = [1]
print(my_list)
append_list = [2, 3]
my_list.append(99)
my_list.append('abc')
my_list.append(append_list)
print(my_list)

[1]
[1, 99, 'abc', [2, 3]]

In [57]:
del my_list
# my_list

In [59]:
# Queue
my_list = []
# push
my_list.append(1)
my_list.append(2)
print(my_list)
# pull
my_list.pop(0)
my_list

[1, 2]

[2]

In [60]:
my_list = ['Python', 'is', 'sometimes', 'fun']
print(my_list)

my_list.remove('sometimes')
print(my_list)

['Python', 'is', 'sometimes', 'fun']
['Python', 'is', 'fun']

In [62]:
# my_list.remove('sometimes')

In [63]:
numbers = [8, 1, 6, 5, 10]
numbers.sort()
print(numbers)

my_list = ['a', 'b', 'd', 'c']
my_list.sort()
print(my_list)

[1, 5, 6, 8, 10]
['a', 'b', 'c', 'd']

In [64]:
first_list = ['beef', 'ham']
second_list = ['potatoes', 1, 3, 1]

second_list.extend(first_list)
second_list

['potatoes', 1, 3, 1, 'beef', 'ham']

In [65]:
first_list = ['beef', 'ham']
second_list = ['potatoes',1 ,3, 1]

second_list = second_list + first_list
second_list

['potatoes', 1, 3, 1, 'beef', 'ham']

In [66]:
second_list.count(1)

2

In [108]:
first_list.reverse()
first_list

['ham', 'beef']

In [67]:
second_list[0]

'potatoes'

In [68]:
second_list[2: 4]

[3, 1]

In [69]:
del second_list[0]

In [70]:
second_list

[1, 3, 1, 'beef', 'ham']

In [71]:
second_list.pop(0)

1

In [74]:
# dir(second_list)
# help(list.pop)

# Tuple

In [75]:
my_tuple = (1, [1,2], 1, 'p', 'l', 'e')
my_tuple

(1, [1, 2], 1, 'p', 'l', 'e')

In [76]:
my_tuple[1:]

([1, 2], 1, 'p', 'l', 'e')

In [77]:
my_tuple[-2:]

('l', 'e')

In [78]:
my_tuple.count('p')

1

In [79]:
my_tuple[0] = 99

TypeError: 'tuple' object does not support item assignment

## Mutable vs. Immutable
A mutable object can be changed after it is created, and an immutable object can‚Äôt.

<img src='img/mutable.png' width='400'>

# Set

In [80]:
# Different types of sets in Python
# set of integers
l = [1, 5, 3, 5]

print(f'before set : {l}')
my_set = set(l)
print(f'after set : {my_set}')

# set of mixed datatypes
my_set = {1.0, "Hello", 3}
print(my_set)

before set : [1, 5, 3, 5]
after set : {1, 3, 5}
{1.0, 3, 'Hello'}

In [81]:
str_set = {'c', 'a', 'b', 'e'}
str_set

{'a', 'b', 'c', 'e'}

In [82]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

# add list and set
my_set.update([4, 5], {6, 1, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [83]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [84]:
# not present in my_set
print(my_set)
my_set.remove(2)

{1, 3, 5}

KeyError: 2

In [85]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A, B)
# Set union method
print(A | B)
#also this way
print(A.union(B))

# Intersection of sets
print(A & B)
print(A.intersection(B))

# Difference of two sets
print(A - B)
print(A.difference(B))

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}

In [86]:
# Frozensets
# initialize A and B
A = frozenset([2, 2, 1, 3, 4])
A

frozenset({1, 2, 3, 4})

In [87]:
# B = frozenset([3, 4, 5, 6])
A.add(11)
A

AttributeError: 'frozenset' object has no attribute 'add'

In [89]:
dir(A)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

# Dict

In [90]:
dict1 = {'value1': 1.6, 'value2': 10, 'name': 'John Doe'}

dict2 = dict(value1=1.6, value2=10, name='John Doe')

# Dict element search TC = O(1) 
print(dict1)
print(dict2)

{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}

In [91]:
dic = {1.4: 1, 1.4: 2}
dic

{1.4: 2}

In [92]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['value1', 'value2', 'name'])
dict_values([1.6, 10, 'John Doe'])
dict_items([('value1', 1.6), ('value2', 10), ('name', 'John Doe')])

In [95]:
my_dict = {}

my_dict['key1'] = 'value1'
my_dict['key2'] = 99

print(my_dict)

# # update existing value
my_dict['key1'] = 'new value'
print(my_dict)

my_dict.update({'key1': 'new value2'})
print(my_dict)

{'key1': 'value1', 'key2': 99}
{'key1': 'new value', 'key2': 99}
{'key1': 'new value2', 'key2': 99}

In [99]:
# access value by key
print(my_dict['key1'])
print(my_dict.get('key3', "default value"))

new value2
default value

In [100]:
my_dict['key3']

KeyError: 'key3'

In [101]:
my_dict.get('key3')

In [102]:
# remove value by key1
print(my_dict)
my_dict.pop('key1')
print(my_dict)

{'key1': 'new value2', 'key2': 99}
{'key2': 99}

In [103]:
del my_dict['key2']
my_dict

{}

In [106]:
del my_dict

In [107]:
my_dict

NameError: name 'my_dict' is not defined